.hero-area {
    position: relative;
    height: 100vh;
    background-color: var(--red);
    color: var(--white);
    text-align: center;
    overflow: hidden;
    line-height: 1;

    .hero-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 0 16px;
    }

    .hero-text {
        display: flex;

        .hero-heading {
            font-size: 16vw;
            font-family: var(--heading-font);
            text-transform: uppercase;
            text-shadow: -17px 17px 0 var(--dark-grey);
            cursor: crosshair;
            -webkit-text-stroke: 8px #1f2024;
            position: relative;
            z-index: 2;

            &:hover {
                color: var(--yellow);
            }

            &.h2 {
                z-index: 3;

                &:hover {
                    color: var(--blue);
                }
            }

            &.h3 {
                z-index: 4;

                &:hover {
                    color: var(--pink-2);
                }
            }
        }
    }


    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6,
    .img7,
    .img8,
    .img9,
    .img10,
    .img11 {
        position: absolute;
    }

    .img1 {
        top: 21%;
        right: -1%;
        transform: rotate(10deg) scale(1.53);
        z-index: 4;
    }

    .img2 {
        top: 23%;
        left: -1%;
        transform: rotate(20deg) scale(1.53);
        z-index: 0;
    }

    .img3 {
        top: 4.6%;
        right: 12%;
        transform: rotate(8deg) scale(2.1);
    }

    .img4 {
        top: 3.6%;
        left: 12%;
        transform: rotate(11deg) scale(2.1);
    }

    .img5 {
        top: 28%;
        right: 24%;
        transform: rotate(20deg) scale(1.85);
        z-index: 3;
    }

    .img6 {
        top: 25.6%;
        left: 18%;
        transform: rotate(-20deg) scale(1.45);
        z-index: 3;
    }

    .img7 {
        bottom: 25%;
        left: 10vw;
        transform: rotate(20deg) scale(1.9);
        z-index: 3;
    }

    .img8 {
        bottom: 32%;
        right: 10vw;
        transform: rotate(-20deg) scale(2.1);
    }

    .img9 {
        bottom: 5%;
        right: 0;
        transform: rotate(14deg) scale(2.1);
    }

    .img10 {
        bottom: 5%;
        transform: rotate(-11deg) scale(2);
    }

    .img11 {
        left: -1%;
        bottom: 3%;
        transform: rotate(-23deg) scale(1.5);
    }
}

@media screen and (max-width: 1900px) {

    .hero-area .img2,
    .hero-area .img8 {
        display: none;
    }

    .hero-area .img1 {
        right: -10%;
    }

    .hero-area .img3 {
        transform: rotate(8deg) scale(1.5);
    }

    .hero-area .img4 {
        left: -12%;
    }

    .hero-area .img5 {
        transform: rotate(20deg) scale(1.5);
    }
}

@media screen and (max-width: 1199px) {

    .hero-area .img6,
    .hero-area .img5,
    .hero-area .img7 {
        display: none;
    }

    .hero-area .img3 {
        top: 20%;
        right: 34%;
    }

    .hero-area .img1 {
        top: 10%;
    }

    .hero-area .img11 {
        left: -9%;
        bottom: 18%;
    }

    .hero-area .img9 {
        bottom: 25%;
        right: -2%;
        transform: rotate(14deg) scale(1.5);
    }
}


@media screen and (max-width: 820px) {
    .hero-area .img1 {
        transform: rotate(10deg) scale(1);
    }

    .hero-area .img10 {
        bottom: 5%;
        transform: rotate(-11deg) scale(1);
    }

    .hero-area .img4 {
        transform: rotate(11deg) scale(1);
    }

    .hero-area .img3 {
        transform: rotate(8deg) scale(1);
    }

    .hero-area .hero-text .hero-heading {
        font-size: 14vw;
        text-shadow: -10px 10px 0 var(--dark-grey);
    }
}


@media screen and (max-width: 600px) {
    .hero-area .img11 {
        transform: rotate(-23deg) scale(.6);
        left: -34%;
    }

    .hero-area .img9 {
        transform: rotate(14deg) scale(.8);
        right: -34%;
    }

    .hero-area .img1 {
        transform: rotate(10deg) scale(.6);
        right: -32%;
    }

    .hero-area .img4 {
        left: -30%;
    }

    .hero-area .img3 {
        transform: rotate(8deg) scale(.6);
        right: 11%;
        top: 17%;
    }

    .hero-area .hero-text .hero-heading {
        text-shadow: none;
        -webkit-text-stroke: 2px #1f2024;
    }
}

@media screen and (max-width: 375px) {

    .hero-area .img3,
    .hero-area .img9 {
        display: none;
    }

    .hero-area .img10 {
        right: -15%;
    }
}